.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 140px ;
  border: 4px dotted orange;
}
.product-section-main{
  border: 2px solid magenta;
}