.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 140px ;

}
.product-section-main{
  border: 1px solid gray;
  margin-bottom: 25px;
}
.category-page{
  margin: 0 100px;
}
p {
 margin: 0 150px ;
}